/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --background-title-color: #ff8dcb;
  --main-text-color: #ffc2e6;
  --main-accent-text-color: #ff0070;
  --section-text-color: #353430;
  --subtitle-text-color: #353430;
  --text-color: #353430;
  --main-font: "IBM Plex mono";
  --decoration-color: #353430;
  --buttom-color: #353430;
  --buttom-hover-color: #32312d66;
  --link-accent-color: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .decoration {
  display: none;
}

@media (prefers-color-sheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-title-color: #ff8dcb;
    --main-text-color: #ffc2e6;
    --main-accent-text-color: #ff0070;
    --section-text-color: #353430;
    --subtitle-text-color: #353430;
    --text-color: #353430;
    --main-font: "IBM Plex mono";
    --decoration-color: #353430;
    --buttom-color: #353430;
    --buttom-hover-color: #32312d66;
    --link-accent-color: #ff8dcb;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .decoration {
    display: none;
  }
}
